/*  your css code here. If applicable */
.modal{
	height:100vh;
	width:100vw;
	position: fixed;
	top:0px;
	left:0px;
	background-color: rgba(0,0,0,0.5);
	display:flex;
	justify-content: center;
	align-items:center;
}
.display-modal{
	display:none;
}